---
import Layout from "../../layouts/Layout.astro";

import { SEO, banner, company_values, history, mision_vision, politics } from "../../data/about.json";
import SectionBanner from "../../components/services/SectionBanner.astro";
import Hisotry from "../../components/about/Hisotry.astro";
import MisionVision from "../../components/about/MisionVision.astro";
import CompanyValues from "../../components/about/CompanyValues.astro";
import Politics from "../../components/about/Politics.astro";
---

<Layout title={SEO.title} description={SEO.description}>
    <main class="mt-[135px]">
        <SectionBanner backgroundImage={banner.image} title={banner.title} subtitle={banner.subtitle} />
        <Hisotry history={history} />
        <MisionVision mision_vision={mision_vision} />
        <CompanyValues company_values={company_values} />
        <Politics politics={politics} />
    </main>
</Layout>