---
import H2Title from '../UI/H2Title.astro';
import Section from '../UI/Section.astro';

interface Props {
    data: {
        title: string;
        resume?: string;
        detail?: string;
        description: string;
        image: Image;
    }
}
interface Image {
    src: string;
    alt: string;
}

const { data } = Astro.props as Props;
const { description, image, resume, title, detail } = data
---

<Section>
    <H2Title text={title} />
    <div class="flex flex-col xl:flex-row gap-6 xl:gap-10 lg:in-h-[25rem] animate-fade-up animate-ease-in-out">
        <img class="rounded-3xl w-full h-full max-h-72 lg:max-h-64 lg:min-h-[21rem] max-w-3xl m-auto xl:w-[28%] object-cover" src={image.src} alt={image.alt}>
        <header class="flex flex-col justify-start xl:w-[75%] gap-4">
            {
                resume && <h3 class="font-bold text-lg lg:text-2xl">{resume}</h3>
            }
            {
                detail && <h3 class="font-bold text-primary-600 text-xl lg:text-3xl">{detail}</h3>
            }
            <p set:html={description}></p>
        </header>
    </div>
</Section>
