---
import Section from '../UI/Section.astro';
import H2Title from '../UI/H2Title.astro';

interface Props {
    mision_vision: {
        mision: {
            title: string;
            description: string;
            icon: Image;
        },
        vision: {
            title: string;
            description: string;
            icon: Image;
        }
    }
}
interface Image {
    src: string;
    alt: string;
}

const { mision_vision } = Astro.props as Props;
const { mision, vision } = mision_vision;
---
<script>
import Observer from 'tailwindcss-intersect';

Observer.start();
</script>

<Section class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <article class="w-full h-full bg-[#00B2AD] rounded-2xl shadow-xl intersect:animate-fade-right intersect-once">
        <header class="flex items-center gap-6 bg-[#009F9B] rounded-2xl p-4 px-12">
            <img src={mision.icon.src} alt={mision.icon.alt} class="size-12 lg:size-16"/>
            <h2 class="text-white text-2xl lg:text-3xl">{mision.title.toLocaleUpperCase()}</h2>
        </header>
        <footer class="p-2 lg:p-4 px-4 lg:px-12 mb-16">
            <p class="text-white lg:leading-7 text-justify">{mision.description}</p>
        </footer>
    </article>
    <article class="w-full h-full bg-[#00B2AD] rounded-2xl shadow-xl intersect:animate-fade-left intersect-once">
        <header class="flex items-center gap-6 bg-[#009F9B] rounded-2xl p-4 px-12">
            <img src={vision.icon.src} alt={vision.icon.alt} class="size-12 lg:size-16"/>
            <h2 class="text-white text-2xl lg:text-3xl">{vision.title.toLocaleUpperCase()}</h2>
        </header>
        <footer class="p-4 px-4 lg:px-12 mb-16">
            <p class="text-white lg:leading-7 text-justify">{vision.description}</p>
        </footer>
    </article>
</Section>