---
import Section from '../UI/Section.astro';
import H2Title from '../UI/H2Title.astro';

interface Props {
    mision_vision: {
        mision: {
            title: string;
            description: string;
            icon: Image;
        },
        vision: {
            title: string;
            description: string;
            icon: Image;
        }
    }
}
interface Image {
    src: string;
    alt: string;
}

const { mision_vision } = Astro.props as Props;
const { mision, vision } = mision_vision;
---
<script>
import Observer from 'tailwindcss-intersect';

Observer.start();
</script>

<section class="px-10 py-12 lg:px-0 lg:py-16 max-w-7xl m-auto grid grid-cols-1 lg:grid-cols-2 gap-6">
    <article id="mision_vision_card" class="w-full h-full bg-[#00B2AD] rounded-2xl p-8 pl-36 pb-14 relative overflow-hidden shadow-xl intersect:animate-fade-right intersect-once">
        <h2 class="pb-4 mb-4 text-white border-b-2 border-white/50">{mision.title.toLocaleUpperCase()}</h2>
        <p class="text-white">{mision.description}</p>
        <img class="size-56 absolute -left-24 top-1/2 -translate-y-1/2 opacity-65" src={mision.icon.src} alt={mision.icon.alt} />
    </article>
    <article class="w-full h-full bg-[#00B2AD] rounded-2xl p-8 pr-36 pb-14 relative overflow-hidden shadow-xl intersect:animate-fade-left intersect-once">
        <h2 class="pb-4 mb-4 text-white border-b-2 border-white/50">{vision.title.toLocaleUpperCase()}</h2>
        <p class="text-white">{vision.description}</p>
        <img class="size-56 absolute -right-24 top-1/2 -translate-y-1/2 opacity-65" src={vision.icon.src} alt={vision.icon.alt} />
    </article>
</section>

<style>
    p {
        font-size: 24px;
        line-height: 33px;
    }
</style>