---
import Feature from "../services/Feature.astro";

interface Props {
    politics: {
        title: {
            text: string;
            icon: Image;
        }
        features: {
            title: string;
            details: string;
            icon: Image;
        }[];
    }
}
interface Image {
  src: string;
  alt: string;
}

const { politics } = Astro.props as Props;
const { title, features } = politics;
---


<section class="relative my-10">
    <header class="relative w-full px-10 lg:px-0 z-10 bg-[#0075D7]">
        <div class="max-w-6xl mx-auto py-4 flex justify-start items-center gap-5">
            <h2 class="text-white relative z-10 text-start">{title.text.toLocaleUpperCase()}</h2>
            <img src={title.icon.src} alt={title.icon.alt} class="size-10 relative z-10">
        </div>
    </header>
    <footer class="max-w-6xl mx-auto px-6 py-4 lg:py-0 lg:px-0 grid grid-cols-1 md:grid-cols-2 gap-2 relative z-10">
        {
            features.map((item) => (
                <Feature icon={item.icon} title={item.title} details={item.details}/>
            ))
        }
    </footer>
    <div class="absolute top-0 left-0 w-full h-full min-w-full min-h-full bg-primary-100/60 z-0"></div>
</section>