---
import Layout from "../../layouts/Layout.astro";

import { banner, SEO, membership_selector, eme_club, eme_salud, mas_beneficios } from "../../data/benefits.json";
import SectionBanner from "../../components/services/SectionBanner.astro";
import AdvertisingBanner from "../../components/services/AdvertisingBanner.astro";
import MembershipSelector from "../../components/benefits/MembershipSelector.astro";
import EmeSalud from "../../components/benefits/EmeSalud.astro";
import EmeClub from "../../components/benefits/EmeClub.astro";
import MasBeneficios from "../../components/benefits/MasBeneficios.astro";
---

<Layout title={SEO.title} description={SEO.description}>
    <main class="mt-[135px] relative">
        <SectionBanner backgroundImage={banner.image} title={banner.title} subtitle={banner.subtitle} />
        <AdvertisingBanner image={{src: "", alt: ""}} />
        <MembershipSelector membership_selector={membership_selector} />
        <EmeClub eme_club={eme_club}/>
        <EmeSalud eme_salud={eme_salud} />
        <MasBeneficios mas_beneficios={mas_beneficios} />
    </main>
</Layout>