---
import Layout from "../../layouts/Layout.astro";

import { banner, SEO, memberships } from "../../data/benefits.json";
import SectionBanner from "../../components/services/SectionBanner.astro";
import AdvertisingBanner from "../../components/services/AdvertisingBanner.astro";
import ThreeColumnsGrid from "../../components/UI/ThreeColumnsGrid.astro";
import MembershipCard from "../../components/home/MembershipCard.astro";
import Section from "../../components/UI/Section.astro";
---

<Layout title={SEO.title} description={SEO.description}>
    <main class="mt-[135px] relative">
        <SectionBanner backgroundImage={banner.image} title={banner.title} subtitle={banner.subtitle} />
        <AdvertisingBanner image={{src: "", alt: ""}} />
        <Section>
            <ThreeColumnsGrid>
                {
                    memberships.map((item) => (
                        <MembershipCard title={item.title} icon={item.icon} href={item.href} />
                    ))
                }
            </ThreeColumnsGrid>
        </Section>
    </main>
</Layout>