---
import data from '../../data/home.json'
import { branches } from '../../data/general-info.json'
const {contact} = data.contact
---

<div class="mi-h-[11rem] h-full w-full">
    <header class="h-20 flex items-center">
        <h2 class="lg:text-start text-center">{contact.title.toLocaleUpperCase()}</h2>
    </header>
    <form id="contactForm" class="flex flex-col w-full min-h-96 gap-8 p-10 bg-zinc-200/60">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            <fieldset>
                <label for="nombre_completo">Nombre y apellido:</label>
                <input name="nombre_completo" type="text" placeholder="Nombre y apellido" class="rounded-md py-3 px-6 w-full placeholder:text-zinc-200 border border-zinc-300" required>
            </fieldset>
            <fieldset>
                <label for="asunto">Asunto:</label>
                 <select name="asunto" class="rounded-md py-3 px-6 w-full placeholder:text-zinc-200 border border-zinc-300" required>
                    <option value="" disabled selected>Asunto</option>
                    {
                        contact.subjects.map(subject => (
                            <option value={subject}>{subject}</option>
                        ))
                    }
                </select>
            </fieldset>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            <fieldset>
                <label for="correo">Correo:</label>
                <input name="correo" type="email" placeholder="Correo" class="rounded-md py-3 px-6 w-full placeholder:text-zinc-200 border border-zinc-300" required>
            </fieldset>
            <fieldset>
                <label for="sucursal">Localidad:</label>
                <select name="sucursal" class="rounded-md py-3 px-6 w-full placeholder:text-zinc-200 border border-zinc-300" required>
                    <option value="" disabled selected>Localidad</option>
                    {
                        branches.map(branch => (
                            <option value={branch.location}>{branch.location}</option>
                        ))
                    }
                </select>
            </fieldset>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            <fieldset>
                <label for="mensaje">Mensaje:</label>
                <textarea name="mensaje" placeholder="Mensaje" class=" min-h-28 max-h-44 rounded-md py-3 px-6 w-full placeholder:text-zinc-200 border border-zinc-300" required></textarea>
            </fieldset>
            <div class="flex flex-col gap-4">
                <fieldset>
                    <label for="telefono">Número de teléfono:</label>
                    <input name="telefono" type="number" placeholder="Escriba su consulta o mensaje" class="rounded-md py-3 px-6 w-full placeholder:text-zinc-200 border border-zinc-300" required>
                </fieldset>
                <button id="sendEmailButton" class="bg-primary-600 text-white w-full py-2 rounded-lg hover:scale-110 transition-transform duration-300 ease-in-out" type="submit">
                    {contact.button.text}
                </button>
            </div>
        </div>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const form = document.getElementById('contactForm');
  const sendEmailButton = document.getElementById('sendEmailButton');

  const generateGmailLink = ({ to, subject, body }) => {
    const baseUrl = 'https://mail.google.com/mail/?view=cm&fs=1';
    const params = new URLSearchParams();

    if (to) params.append('to', to);
    if (subject) params.append('su', subject);
    if (body) params.append('body', body);

    return `${baseUrl}&${params.toString()}`;
  };

  const updateGmailLink = () => {
    const nombreElement = form.querySelector('input[name="nombre_completo"]');
    const asuntoElement = form.querySelector('select[name="asunto"]');
    const correoElement = form.querySelector('input[name="correo"]');
    const sucursalElement = form.querySelector('select[name="sucursal"]');
    const telefonoElement = form.querySelector('input[name="telefono"]');
    const mensajeElement = form.querySelector('textarea[name="mensaje"]');

    const nombre = nombreElement ? (nombreElement as HTMLInputElement).value : '';
    const asunto = asuntoElement ? (asuntoElement as HTMLInputElement).value : '';
    const correo = correoElement ? (correoElement as HTMLInputElement).value : '';
    const sucursal = sucursalElement ? (sucursalElement as HTMLInputElement).value : '';
    const telefono = telefonoElement ? (telefonoElement as HTMLInputElement).value : '';
    const mensaje = mensajeElement ? (mensajeElement as HTMLInputElement).value : '';

    const body = `${mensaje}\n\nNombre completo: ${nombre}\nCorreo: ${correo}\nLocalidad: ${sucursal}\nNúmero de teléfono: ${telefono}`;

    const gmailLink = generateGmailLink({
      to: 'emeclub@eme.com.ar',
      subject: `${asunto} - ${sucursal} - ${nombre}`,
      body: body
    });

    sendEmailButton.setAttribute('href', gmailLink);
  };

   form.addEventListener('input', updateGmailLink);
  
  sendEmailButton.addEventListener('click', () => {
    if (form.checkValidity()) {
      updateGmailLink();
      const href = sendEmailButton.getAttribute('href');
      if (href) {
        window.open(href, '_blank');
      }
    } else {
      // Forzar la validación para mostrar los mensajes de error
      form.reportValidity();
    }
  });

  // Inicializar el enlace de correo
  updateGmailLink();
});
</script>