---
import Section from "../UI/Section.astro";

interface Props {
    membership : Membership;
}

interface Membership {
    title: string;
    items: Items[];
}
interface Items {
    image: Image;
    href: string;
}

interface Image {
    src: string;
    alt: string;
}

const { membership } = Astro.props as Props;
---

<Section class="flex justify-center items-center">
    <h2 class="text-3xl max-w-lg py-10">{membership.title}</h2>
    <div class="flex gap-12">
        <a href={membership.items[0].href}>
            <img src={membership.items[0].image.src} alt={membership.items[0].image.alt} class="max-h-24 object-contain hover:scale-110 transition-transform duration-300 ease-in-out" />
        </a>
        <span class="border border-primary-600"></span>
        <a href={membership.items[1].href}>
            <img src={membership.items[1].image.src} alt={membership.items[1].image.alt} class="max-h-24 object-contain hover:scale-110 transition-transform duration-300 ease-in-out" />
        </a>
        <a href={membership.items[1].href}>
            <img src={membership.items[1].image.src} alt={membership.items[1].image.alt} class="max-h-24 object-contain hover:scale-110 transition-transform duration-300 ease-in-out" />
        </a>
    </div>
</Section>

<style>
    .item {
        @apply border-r border-r-primary-600 pr-12;
    }
    .item:last-child {
        @apply border-none pr-0;
    }
</style>