---
import Layout from "../../../layouts/Layout.astro";

import { SEO, banner, card_overlay, feature_selector } from "../../../data/services/companies.json";
import SectionBanner from "../../../components/services/SectionBanner.astro";
import BannerCard from "../../../components/services/BannerCard.astro";
import CompanyFeatures from "../../../components/services/CompanyFeatures.astro";
import BannerCardMobile from "../../../components/services/BannerCardMobile.astro";
---

<Layout title={SEO.title} description={SEO.description}>
    <main class="mt-[135px] relative">
        <SectionBanner backgroundImage={banner.image} title="Servicios" breadcrumb_top={true} class="lg:mb-24">
            <BannerCard data={card_overlay} class="absolute bottom-[-7rem] left-1/2 transform -translate-x-1/2 mx-auto z-20" />
        </SectionBanner>
        <BannerCardMobile data={card_overlay} />
        <CompanyFeatures feature_selector={feature_selector} />
        <div id="modal-feature-root"></div>
    </main>
</Layout>