---
import Layout from "../../../layouts/Layout.astro";

import { SEO, banner, features, card_overlay } from "../../../data//services/corporate.json";
import CorporateFeatures from "../../../components/services/CorporateFeatures.astro";
import SectionBanner from "../../../components/services/SectionBanner.astro";
import BannerCard from "../../../components/services/BannerCard.astro";
import BannerCardMobile from "../../../components/services/BannerCardMobile.astro";
---

<Layout title={SEO.title} description={SEO.description}>
    <main class="mt-[135px] relative">
        <SectionBanner backgroundImage={banner.image} title="Servicios" breadcrumb_top={true} class="lg:mb-28">
            <BannerCard data={card_overlay} class="absolute bottom-[-7rem] left-1/2 transform -translate-x-1/2 mx-auto z-20" />
        </SectionBanner>
        <BannerCardMobile data={card_overlay} />
        <CorporateFeatures features={features} />
    </main>
</Layout>