---
import Layout from "../../../layouts/Layout.astro";

import { SEO, banner, card_overlay, features } from "../../../data/services/family.json";
import BannerCard from "../../../components/services/BannerCard.astro";
import SectionBanner from "../../../components/services/SectionBanner.astro";
import FamilyFeatures from "../../../components/services/family/FamilyFeatures.astro";
import BannerCardMobile from "../../../components/services/BannerCardMobile.astro";
import ServicesForm from "../../../components/services/ServicesForm.astro";

const services = [{id: "servicio_familiar", title: "Plan Familiar", contact_type: "Afiliado"}]
---

<Layout title={SEO.title} description={SEO.description}>
    <main class="mt-[135px] min-h-screen relative">
        <SectionBanner backgroundImage={banner.image} title="Servicios" breadcrumb_top={true} class="lg:mb-24">
            <BannerCard data={card_overlay} class="absolute lg:bottom-[-7rem] left-1/2 transform -translate-x-1/2 mx-auto z-20" />
        </SectionBanner>
        <BannerCardMobile data={card_overlay} />
        <FamilyFeatures features={features} />
        <ServicesForm services={services} />
    </main>
</Layout>