---
import Layout from "../../layouts/Layout.astro";

import { SEO, banner, search } from "../../data/policonsultorios.json";
import SectionBanner from "../../components/services/SectionBanner.astro";
import SpecialistsList from "../../components/specialists/SpecialistsList";
---

<Layout title={SEO.title} description={SEO.description}>
    <main class="mt-[135px]">
        <SectionBanner backgroundImage={banner.image} title={banner.title} quote={banner.quote} />
        <SpecialistsList data={search} client:only="react" />
    </main>
</Layout>